@{
    ViewData["Title"] = "Twitch Callback";
}

<h2 class="color: #6441A4">The Twitch callback view</h2>

<p>Code: @ViewData["Code"]</p>

<p>Token: @ViewData["Token"]</p>

<p>Token: @ViewData["Refresh"]</p>

<p>Token: @ViewData["Expires"]</p>