@{
    ViewData["Title"] = "Autodesk Callback";
}

<h2 class="color: #6441A4">The Autodesk callback view</h2>

<p>Code: @ViewData["Code"]</p>

<p>Token: @ViewData["Token"]</p>

<p>Refresh: @ViewData["Refresh"]</p>

<p>Expires: @ViewData["Expires"]</p>
